#############################################################
# videoIO makefile
#
# 2008, Georg Holzmann
#############################################################


#############################################################
# PD/GEM variables
# (adjust them to your system)

# GEM source folder
GEM_SRC?=../../../Gem/src

# path of GEM library (needed for linking)
GEM_LIB?=/usr/lib/pd/extra/Gem/Gem.pd_linux

# PD headers (m_pd.h is needed)
PD_SRC?=/usr/include

# path where to install the pd external
PD_INSTALL?=/usr/lib/pd/extra


#############################################################
# plugins/gstreamer variables
# (adjust them to your system)

# include path of gstreamer headers (e.g. gst/gst.h)
GST_INCLUDE?=/usr/include/gstreamer-0.10

# include path of glib 2 headers
# (for some strange reason these are two directories !)
GLIB_INCLUDE1?=/usr/include/glib-2.0
GLIB_INCLUDE2?=/usr/lib/glib-2.0/include/

# include path of libxml2
XML_INCLUDE?=/usr/include/libxml2/

# installation path for plugins
# ATTENTION: should be /usr/lib/videoIO,
#                      /usr/local/lib/videoIO or
#                      somewhere in the search path
PLUGIN_INSTALL?=/usr/lib/videoIO


#############################################################
# you don't have to touch this

# path to install the pd help patches
# NOTE: this should be in the path of the GEM helpfiles !
PD_HELP?=$(PD_INSTALL)

VIDEOIO_SRC=../core

