#############################################################
# videoIO makefile
#
# 2008 (c) Georg Holzmann, IOhannes m zmölnig
#############################################################


#############################################################
# plugins/gstreamer variables
# (adjust them to your system)

# include path of gstreamer headers (e.g. gst/gst.h)
GST_INCLUDE?=/usr/include/gstreamer-0.10

# include path of glib 2 headers
# (for some strange reason these are two directories !)
GLIB_INCLUDE1?=/usr/include/glib-2.0
GLIB_INCLUDE2?=/usr/lib/glib-2.0/include/

# include path of libxml2
XML_INCLUDE?=/usr/include/libxml2/

