[submodule "l2ork_addons/rtcmix-in-pd"]
	path = externals/rtcmix-in-pd
	url = https://github.com/jwmatthys/rtcmix-in-pd.git
[submodule "l2ork_addons/cwiid"]
	path = externals/disis/cwiid
	url = https://github.com/pd-l2ork/cwiid
[submodule "externals/fftease"]
	path = externals/fftease
	url = https://git.purrdata.net/jwilkes/fftease.git
[submodule "Gem"]
	path = Gem
	url = https://git.purrdata.net/jwilkes/Gem.git
[submodule "externals/lyonpotpourri"]
	path = externals/lyonpotpourri
	url = https://git.purrdata.net/jwilkes/lyonpotpourri3.0.git
[submodule "l2ork_addons/raspberry_pi/disis_gpio/wiringPi"]
	path = l2ork_addons/raspberry_pi/disis_gpio/wiringPi
	url = https://git.purrdata.net/jwilkes/wiringPi.git
[submodule "externals/pd-lua"]
	path = externals/pd-lua
	url = https://git.purrdata.net/jwilkes/pd-lua.git
