*.o
*.orig
*.rej
*diff
TAGS
autom4te.cache
aclocal.m4
config.log
config.status
libtool
m4/generated
m4/config
.deps
.libs
*.lo
*.la
*.pd_linux
*.pd_darwin
*.d_fat
*.d_fat_o
po/*.msg
ASIOSDK2
pd-0.*
pd.pc
*.deps
*.d
*_stamp
*.a
.svn
packages/linux_make/build/
pd/src/makefile
