[submodule "Gem"]
        path = Gem
        url = git://git.code.sf.net/p/pd-gem/gem
[submodule "l2ork_addons/rtcmix-in-pd"]
	path = externals/rtcmix-in-pd
	url = https://github.com/jwmatthys/rtcmix-in-pd.git
[submodule "l2ork_addons/cwiid"]
	path = externals/disis/cwiid
	url = https://github.com/pd-l2ork/cwiid
[submodule "l2ork_addons/lyonpotpourri"]
	path = externals/lyonpotpourri
	url = https://github.com/pd-projects/lyonpotpourri
[submodule "l2ork_addons/fftease3.0-32bit"]
	path = externals/fftease
	url = https://github.com/ericlyon/fftease3.0-32bit
[submodule "l2ork_addons/raspberry_pi/disis_gpio/wiringPi"]
	path = l2ork_addons/raspberry_pi/disis_gpio/wiringPi
	url = git://git.drogon.net/wiringPi
