#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cd l2ork_addons && inst_dir=/usr ./tar_em_up.sh -F -n

override_dh_auto_install:
	mkdir -p debian/pd-l2ork && mv packages/linux_make/build/usr debian/pd-l2ork
# Remove some unneeded files.
	cd debian/pd-l2ork/ && rm -f Makefile README.txt
	cd debian/pd-l2ork/usr/lib/pd-l2ork/extra && rm -rf */*.pd_linux_o */*.la
# Move cyclist and pdsend/pdreceive to the pd-l2ork lib directory to prevent
# conflicts with other packages providing these files.
	cd debian/pd-l2ork/usr/bin && mv pdsend pdreceive cyclist ../lib/pd-l2ork/bin
# Also remove the corresponding man pages.
	cd debian/pd-l2ork/usr/share/man/man1 && rm -rf pdsend.* pdreceive.*
# Move the Gem include files into the pd-l2ork include directory to prevent
# conflicts with other packages providing these files.
	cd debian/pd-l2ork/usr && mv include/Gem include/pd-l2ork
# Edit the Gem pkgconfig file accordingly and rename it.
	cd debian/pd-l2ork/usr/lib/pkgconfig && sed -e 's?/include?/include/pd-l2ork?g' -e 's?/lib/pd/extra?/lib/pd-l2ork/extra?g' < Gem.pc > pd-l2ork-Gem.pc && rm -f Gem.pc
# Default preferences file.
	install -d debian/pd-l2ork/etc/pd-l2ork && ln -s -f /usr/lib/pd-l2ork/default.settings debian/pd-l2ork/etc/pd-l2ork/default.settings

# NOTE: Older systems use dh_pysupport instead of dh_python2. See
# http://deb.li/dhs2p.
override_dh_python2:
	dh_python2 -n -Xxmlrpc-test.py

override_dh_compress:
	dh_compress -X.pd -X.wav -X.aiff -X.txt -X.md

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/pd-l2ork/usr/lib/pd-l2ork/bin/pd.tk

# Supply some options to get rid of a gazillion of warnings about shared
# library files which are really externals.
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params="--ignore-missing-info --warnings=0"
