[Desktop Entry]
Type=Application
Name=pd-l2ork
Exec=/home/matju/src/pd-l2ork/pd/bin/pd-l2ork
Icon=/home/matju/.local/share/icons/hicolor/48x48/apps/pd-l2ork.png
StartupNotify=true

